# -*- mode: conf -*-

[Desktop Entry]
Type=Application
Name=i3-gnome3
NoDisplay=true
GenericName=A dynamic tiling window manager
Comment=Improved dynamic tiling window manager, registers with gnome session manager.
Exec=i3-gnome3
X-GNOME-WMName=i3-gnome3
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
